
<% content_for :head do %>
	<%= javascript_include_tag "string" %>
	<%= javascript_include_tag "tags" %>
<% end %>

<% title "Editando cita" %>

<div style="clear:both"></div>

<% form_for(@cita) do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		
		<%= f.label :text, "Cita" %>
		<%= f.text_area :text, :class => "cita" %>
	</p>
	
  	<p>
		<%= f.label :author, "Autor" %>
		<%= f.text_field :author, :class => "autor" %>
	</p>
	
	<p>
		<%= label_tag "tags", "Tags" %>
		<%= text_field_tag "tags", @cita.tag_list, :class => "tags" %>
	</p>
	
	<p class="listado_tags">
		Tags utilizados:<br />
		<%- for tag in Cita.tag_counts :order => "name" -%>
			<%= link_to_function tag.name, "tag_add('#{tag.name}')" %>
		<%- end -%>
	</p>
	
	<p>
		<%= submit_tag "modificar »", :class 		=> "rounded {transparent} button",
		 							  :onclick 		=> "submit(); return false;" %>
	</p>
<% end %>

